@sky-blue: #53c6ea;
@inactive-grey: #e4f6fb;
@light-sky-blue: #9fe8d9;
@bg-grad: linear-gradient(to right, @sky-blue , @light-sky-blue);

#br20() {
  border-radius: 20px;
}

body, .body-color {
  background-color: #fafbfc;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  color: #b6bfce;
}


.upper-script {
  vertical-align: text-top;
  font-size: x-large;
  font-family: inherit;
}

.large-bold {
  margin-left: 30px;
  font-size: 55px;
  font-weight: bold;
}

.day {
  font-size: large;
  font-weight: bold;
  font-family: inherit;
}

.date {
  font-size: medium;
  font-family: inherit;
}


.generic-card() {
  background-color: white;
  margin-top: 30px;
}

.usage-card {
  .generic-card();
  min-height: 400px;
}

.small-card {
  .generic-card();
  min-height: 250px;
}

.card-title-font {
  margin-left: 20px;
  font-size: x-large;
  font-weight: bold;
  .montserrat();
  color: @sky-blue;
}

.small-card-title-font {
  .card-title-font();
  margin-left: 10px;
  font-size: 1.3em;
}

.small-card-body-font {
  margin-left: 5px;
  font-size: medium;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.small-card-body-font-tiny {
  .small-card-body-font();

  font-size: small;
  font-weight: lighter;
}

.adaptive-slider {
  width: 100%;
  horiz-align: right;
}


progress {
  #br20();
  background-color: @inactive-grey;
  border-color: transparent;
  #prbars() {
    #br20();
    background-image: @bg-grad;
  }
  &::-webkit-progress-bar {
    #br20();
    background-color: @inactive-grey;
  }
  &::-webkit-progress-value { #prbars(); }
  &::-moz-progress-bar { #prbars(); }
}

input[type=range] {
  -webkit-appearance: none;

  #thumb() {
    box-shadow: 1px 0px 5px @inactive-grey, 1px 1px 5px @inactive-grey, 0px 1px 5px @inactive-grey, -1px 1px 5px @inactive-grey, 1px -1px 5px @inactive-grey, -1px -1px 5px @inactive-grey, -1px 0px 5px @inactive-grey, 0px -1px 5px @inactive-grey;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
  }

  &::-moz-range-thumb {#thumb();}
  &::-ms-thumb {#thumb();}
  &::-webkit-slider-thumb {-webkit-appearance: none; #thumb(); margin-top: -7px;}
  &::-moz-focus-outer {border: 0px;}
  &:focus {outline: none;}
}

.dynamic-track {
  #m() {
    width: 100%;
    height: 5px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
  }
  &::-webkit-slider-runnable-track {#m();}
  &::-moz-range-track {#m();}
  &::-ms-track {#m();}
}

#brightness {
  --valuebar-color: none;
  #inject-bg-image() {background-image: var(--valuebar-color);}
  &::-webkit-slider-runnable-track {#inject-bg-image();}
  &::-moz-range-track {#inject-bg-image();}
  &::-ms-track {#inject-bg-image();}
}

#volume {
  --valuebar-color: none;
  #inject-bg-image() {background-image: var(--valuebar-color);}
  &::-webkit-slider-runnable-track {#inject-bg-image();}
  &::-moz-range-track {#inject-bg-image();}
  &::-ms-track {#inject-bg-image();}
}

@slider-height: 26px;
@toggle-size: 20px;

.toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: @slider-height;
  input { display: none; }
}

.slider {
  #transitions() {
    position: absolute;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
  }
  #transitions();

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
  border-radius: @slider-height;
  background-color: @inactive-grey;

  &:before {
    #transitions();
    content: "";
    border-radius: 50%;
    height: @toggle-size;
    width: @toggle-size;
    left: 2px;
    bottom: 3px;
    background-color: @inactive-grey;
  }

  input:checked + &  {
    background-color: @sky-blue;
    /*background-image: @bg-grad;*/
  }

  input:checked + &:before {
    @track-len: .toggle-container[width] - @toggle-size - 5;
    -webkit-transform: translateX(@track-len);
    -moz-transform: translateX(@track-len);
    -ms-transform: translateX(@track-len);
    transform: translateX(@track-len);
  }
}

.btn-grad {
  outline-style: @bg-grad;
  border-image: @bg-grad;
}

.message {
  margin-top: 5px;
}

.card:hover {
  transform: scale(1.02);
}

.card-closer {}


.spinner {
  height: 55px;
  width: 55px;
  border: 16px solid @inactive-grey;
  border-radius: 50%;
  border-top: 16px solid @sky-blue;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

